@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
/* Global styles */
html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #0A0C1B;
    color: hsl(0, 0%, 100%);
    height: 100%;
}
img{
    width: 100%;
}

/* Box */

.section{
    max-width: 100%;
    height: 100vh;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box__container{
    max-width: 950px;
    background-color: #1C1938;
    display: flex;

    border-radius: 10px;
    overflow: hidden;
}

.box__content{
    flex: 1;

    padding: 50px;
}
.box__content h1{
    font-size: 35px;
}
.box__content h1 span{
    color: #A168CA;
}
.box__content-text{
    color: hsla(0, 0%, 100%, 0.75);
    margin: 25px 0;
    line-height: 25px;
    padding-right: 20px;
}
.box__counter{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}
.box__counter-num{
    font-size: 25px;
    font-weight: 700;
}
.box__counter-text{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color:hsla(0, 0%, 100%, 0.6);
}

.box__img{
    flex: 1;
    background-image: url(images/image-header-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* MediaQueries */

@media screen and (max-width:830px) {
    .box__container{
        flex-direction: column-reverse;
    }
    .box__img{
        background-image: url(images/image-header-mobile.jpg);

    }
}